---
import { Markdown } from 'astro/components';
import Layout from '../layouts/article.astro'
---

<Layout title='About'>
	<h1 slot="title" class='article-title'>
		About me <span role="img" aria-label="handshake">🤝</span>
	</h1>

	<Markdown>
		Hi there! My name is **Muhammad Yusuf** atau **Yusuf**.

		I am a software engineer born, raised, and currently living in [Bogor, Indonesia](https://kotabogor.go.id). I'm currently studying information systems at [Binus](https://onlinelearning.binus.ac.id) and also working as a React developer at [DataOn](https://dataon.com).

		I am a curious person and I love to learn how things work and has a strong passion to learn new things related to software.

		I started my career as a back-end developer using [Laravel](https://laravel.com) and [Node.js](https://nodejs.org), but lately I've been focusing more on front-end developer using [React](https://reactjs.org).

		I've been building websites using various [JavaScript](https://developer.mozilla.org/en-US/docs/Web/JavaScript) frameworks, I'm not a fan of any framework out there.

		And the last **iamyuu** (read i am yuu) is my name on the internet ([@iamyuu027](https://twitter.com/iamyuu027) or just [@iamyuu](https://github.com/iamyuu))
	</Markdown>
</Layout>
